<div class="static-bg explore-bg main-container">
   <h1>Explore</h1>
   <div class="hike-filter box">
      <div class="search-filter">
         <div>
            <p class="mid-caps">Search by Name:</p>
         </div>
         <div>
            <input placeholder="Hike Name" ng-model="filter.name"/>
         </div>
      </div>
      <hr class="light-line">
      <div expand-box>
         <div class="centered"><h4>Advanced Filters</h4></div>
      </div>
      <div class="expandable">
        <div class="filters">
          <div class="filter-box">
            <p class="mid-caps">Difficulty</p>
            <div class="select-box">
              <select ng-model="filter.diffText" ng-options="diff.value as diff.name for diff in diffTypes">
              </select>
            </div>
         </div>
         <!--<div class="filter-box">
            <p class="mid-caps">Hike Length</p>
            <div>
              <select ng-model="filter.mileslong" ng-options="length.value as length.name for length in lengthTypes">
                <option>{{diff.name}}</option>
              </select>
            </div>
         </div>-->
         <div class="filter-box">
            <p class="mid-caps">Features</p>
            <div class="select-box">
              <select ng-model="filter.feature" ng-options="feat.value as feat.name for feat in featTypes">
              </select>
            </div>
         </div>
        </div>
      </div>
   </div>
   <div class="hike-search-results">
      <small-hike-dir></small-hike-dir>
   </div>
   
</div>