<div class="main-container">
   <h1>Explore All Hikes</h1>
   <div class="hike-filter box">
      <label class="centered">Search by Name: <input placeholder="Hike Name" ng-model="searchName"/></label>
      <hr class="light-line">
      <h4>Filter by:</h4>
      <div class="fl-r-a">
         <div>
            <h2>Difficulty</h2>
            <h4>Easy: <input type="checkbox"/></h4>
            <h4>Medium: <input type="checkbox"/></h4>
            <h4>Hard: <input type="checkbox"/></h4>
         </div>
         <div>
            <h2>Hike Length</h2>
            <h4>0-2 Miles: <input type="checkbox"/></h4>
            <h4>2-4 Miles: <input type="checkbox"/></h4>
            <h4>4+  Miles: <input type="checkbox"/></h4>
         </div>
         <div>
            <h2>Elevation Gain</h2>
            <h4>< 1000 ft: <input type="checkbox"/></h4>
            <h4>1000 - 3000 ft: <input type="checkbox"/></h4>
            <h4>> 3000 ft: <input type="checkbox"/></h4>
         </div>
         <div>

         </div>
      </div>
   </div>

   <small-hike-dir></small-hike-dir>
</div>