<div class="main-container">
   <h2>Explore All Hikes</h2>
   <div class="hike-filter box">
      <label class="centered">Search by Name: <input placeholder="Hike Name" ng-model="searchName.name"/></label>
      <hr class="light-line">
      <h4>Select Your Filters:</h4>
      <div class="fl-r-a">
         <div>
            <h2>Difficulty</h2>
            <h4>Easy: <input type="checkbox"/></h4>
            <h4>Medium: <input type="checkbox"/></h4>
            <h4>Hard: <input type="checkbox"/></h4>
         </div>
         <div>
            <h2>Hike Length</h2>
            <h4>0-2 Miles: <input type="checkbox"/></h4>
            <h4>2-5 Miles: <input type="checkbox"/></h4>
            <h4>5+  Miles: <input type="checkbox"/></h4>
         </div>
         <div>
            <h2>Features</h2>
            <h4>Peak <input type="checkbox"/></h4>
            <h4>Waterfall<input type="checkbox"/></h4>
            <h4>Lake<input type="checkbox"/></h4>
         </div>
      </div>
   </div>

   <small-hike-dir></small-hike-dir>
</div>