<div class="main-container hike-bg static-bg">
   <div>
      <h1>{{hikeDetail.name}}</h1>
      <h5>&quot{{hikeDetail.nickname}}&quot</h5>
   </div>
   <div class="hike-billboard">
      <div class="hike-photo-box">
         <div class="hike-photos">
            <img class="fit-cover" ng-src="{{hikeDetail.hikephoto}}"/>
         </div>
      </div>
      <div class="hike-sideinfo">
         <div class="info-block">
            <h1>{{hikeDetail.difficulty}}</h1>
         </div>
         <div class="info-block">
            <h1>{{hikeDetail.mileslong}}</h1>
            <p>HIKE LENGTH (MI)</p>
         </div>
         <div class="info-block">
            <h1>{{hikeDetail.elevationgain}}</h1>
            <p>ELEVATION GAIN (FT)</p>
         </div>
         <div class="info-block">
            <p>USER RATING</p>
            <img ng-src="{{hikeDetail.ratingurl}}/>
         </div>
         <div class="info-block">
            <p>MAP GOES HERE</p>
         </div>
         <div class="info-block">
            <p>SEND TO PHONE</p>
         </div>
      </div>
   </div>
   <div class="hike-lower-info">
      <div class="weather">
         <h4>Current Weather</h4>
         <weather-dir info="hikeDetail"></weather-dir>
      </div>
      <div class="summary">
         <h4>Summary</h4>
         <p>{{hikeDetail.summary}}</p>
      </div>
   </div>
   <div>
      <h4>Reviews</h4>
      <div class="centered" ng-if="!user">
         <h4><a href="/auth">Login</a> to leave a review.</h4>
      </div>
      <review-form-dir ng-if="user"></review-form-dir>
      <review-dir></review-dir>
   </div>
</div>