<div class="main-container hike-bg static-bg">
   <div>
      <h2 class="hike-title">{{hikeDetail.name}}</h2>
      <h6 class="light-text">&quot{{hikeDetail.nickname}}&quot</h6>
   </div>
   <div class="hike-billboard">
      <div class="hike-photo-box">
         <div class="hike-photos">
            <img class="fit-cover" ng-src="{{hikeDetail.hikephoto}}"/>
         </div>
      </div>
      <div class="hike-sideinfo">
         <div class="info-block mid-caps bg-white diff">
            {{hikeDetail.diffText}}
         </div>
         <div class="info-block">
            <h1>{{hikeDetail.mileslong}}<span class="small-caps">MI</span></h1>
            <p>LENGTH</p>
         </div>
         <div class="info-block">
            <h1>{{hikeDetail.elevationgain}}<span class="small-caps">FT</span></h1>
            <p>ELEVATION GAIN</p>
         </div>
         <div class="info-block">
            <p>USER RATING</p>
            <img ng-src="{{hikeDetail.ratingurl}}"/>
         </div>
      </div>
   </div>
   <div class="hike-lower-info">
      <div class="weather">
         <weather-dir info="hikeDetail"></weather-dir>
      </div>
      <div class="summary">
         <h4>Summary</h4>
         <p>{{hikeDetail.summary}}</p>
      </div>
   </div>
   <div class="reviews">
      <h4>Reviews for {{hikeDetail.name}}</h4>
      <div class="login-message" ng-if="!user">
         <h4><a href="/auth">Login</a> to leave a review.</h4>
      </div>
      <review-form-dir ng-if="user"></review-form-dir>
      <review-dir></review-dir>
   </div>
</div>