<div class="hero" parallax-dir>
   <div class="layer-bg layer" data-depth="0.10" data-type="parallax"></div>
   <div class="layer-1 layer" data-depth="0.20" data-type="parallax"></div>
   <div class="layer-2 layer" data-depth="0.30" data-type="parallax"></div>
   <div class="layer-3 layer" data-depth="0.40" data-type="parallax"></div>
   <div class="layer-4 layer" data-depth="0.50" data-type="parallax"></div>
   <div class="layer-5 layer" data-depth="0.60" data-type="parallax"></div>
   <div class="layer-6 layer" data-depth="0.80" data-type="parallax"></div>
   <div class="layer-7 layer" data-depth="0.90" data-type="parallax"></div>
</div>
<div class="front-content">
   <p>Lorem ipsum and stuff</p>
</div>

