<div class="hero" parallax-dir>
   <div class="layer-bg layer" data-depth="0.10" data-type="parallax"></div>
   <div class="layer-1 layer" data-depth="0.20" data-type="parallax"></div>
   <div class="layer-2 layer" data-depth="0.30" data-type="parallax"></div>
   <div class="layer-3 layer" data-depth="0.40" data-type="parallax"></div>
   <div class="layer-4 layer" data-depth="0.50" data-type="parallax"></div>
   <div class="layer-5 layer" data-depth="0.60" data-type="parallax"></div>
   <div class="layer-6 layer" data-depth="0.80" data-type="parallax"></div>
   <div class="layer-7 layer" data-depth="0.90" data-type="parallax"></div>
</div>
<div class="main-logo" fade-out-dir>
   <div>
      <img src="./../img/logo.png"/>
   </div>
   <div class="quote-box brdr-dsh-lt">
      <p class="quote">"The clearest way into the universe <br> is through a forest wilderness."</p>
      <p class="source">John Muir</p>
   </div>
   <div class="fade-in">
      <p class="scroll-down">( Scroll Down )</p>
   </div>
</div>
<div class="front-content">
   <div class="main-info" fade-in-dir>
      <h1>The Perfect Hike. <span class="emphasis"> In Two Questions.</span></h1>
      <p>Instahike searches through hundreds of local trails so you don't have to.<br>Just select a few trail preferences, and you'll be on your way.</p>
      <div class="questions">
         <div class="q-box">
            <h4>Select Your Hike Length</h4>
            <div class="little-box-holder">
               <div class="little-box" ng-model="length1" ng-class="box1Class" ng-click="setLength(0.0, 2.0)">
                  <img src="./../img/logo/hike-logo-short.png"/>
                  <h6>0-2 Miles</h6>
               </div>
               <div class="little-box" ng-model="length2" ng-class="box2Class" ng-click="setLength(2.0, 5.0)">
                  <img src="./../img/logo/hike-logo-medium.png"/>
                  <h6>2-5 Miles</h6>
               </div>
               <div class="little-box" ng-model="length3" ng-class="box3Class" ng-click="setLength(5.0, 15.0)">
                  <img src="./../img/logo/hike-logo-long.png"/>
                  <h6>5+ Miles</h6>
               </div>
            </div>
         </div>
         <div class="q-box">
            <h4>Select A Feature</h4>
            <div class="little-box-holder">
               <div class="little-box" ng-model="feature1" ng-class="box4Class" ng-click="setFeature('lake')">
                  <img src="./../img/logo/feature-logo-lake.png"/>
                  <h6>Lake</h6>
               </div>
               <div class="little-box" ng-model="feature2" ng-class="box5Class" ng-click="setFeature('waterfall')">
                  <img src="./../img/logo/feature-logo-waterfall.png"/>
                  <h6>Waterfall</h6>
               </div>
               <div class="little-box" ng-model="feature3" ng-class="box6Class" ng-click="setFeature('peak')">
                  <img src="./../img/logo/feature-logo-peak.png"/>
                  <h6>Peak</h6>
               </div>
            </div>
         </div>
      </div>
      <div class="button-area">
         <button class="main-button" ng-click="getPerfectHike(hikeLength1, hikeLength2, hikeFeature, localLat, localLon)">Let's Go!</button>
      </div>
      <div>
         <img class="rocks" src="./../img/rocks.jpg"/>
      </div>
   </div>
</div>
<div class="floating-hike-box" ng-if="foundHike">
   <div class="success-box">
      <h1>Hike Found!</h1>
      <div class="hike-info">
         <h4>{{foundHike.name}}</h4>
         <img ng-src="{{foundHike.hikephoto}}"/>
      </div>
      <div class="button-area">
         <button class="main-button" ui-sref="hikeDetails({hikeName:foundHike.name})">Take Me to the Details</button>
      </div>
   </div>
</div>

