<div class="main-container static-bg profile-bg">
   <h1>Welcome, {{user.username}}</h1>
   <div class="quote-box">
      <p class="quote">"Live in each season as it passes; breathe the air, drink the drink, taste the fruit, and resign yourself to the influence of the earth."</p>
      <p class="source">Henry David Thoreau</p>
   </div>
   <div class="profile-box">
      <h3>Welcome, {{user.username}}</h3>
      <p>Current Picture:</p>
      <img ng-src="{{user.userimage}}"/><br>
      <input type="file" name="pic" accept="image/*" ng-model="user.userimage">
      <input type="submit">
   </div>
   
   <input type="text" ng-model="user.username">
   <input type="text" ng-model="user.useremail">
   <textarea rows="4" cols="40" ng-model="user.userbio"></textarea>
   <button type="button" ng-click="updateUser(user)">UPDATE</button>
   <div class="full-width-box" ng-if="user.isadmin">
      <h4 class="dark-text centered">Admin Controls</h4>
      <create-hike></create-hike>
   </div>
</div>