<div class="outer-review-box">
   <h3>REVIEWS</h3>
   <div class="white-box round-corners fl-r-b-s" ng-repeat="review in reviews">
      <div class="review-image-box">
         <img class="review-userimage" ng-src='{{review.userimage}}'/>
         <p>{{review.username}}</p>
      </div>
      <div class="review-text-box">
         <div class="header">
            <h4>&quot{{review.reviewtitle}}&quot</h4>
            <p>Timestamp: {{review.reviewtime}}</p>
         </div>
         <div>
            <img ng-src='{{review.ratingurl}}'/>
            <p>Text: {{review.reviewtext}}</p>
         </div>
      </div>
   </div>
</div>