<div>
   <div class="outer-review-box">
      <div expand-box>
            <h3>Write a Review</h3>
      </div>
   
   <div class="expandable">
      <div class="review-image-box">
         <img class="review-userimage" ng-src="{{user.userimage}}"/>
         <p>{{user.username}}</p>
      </div>
      <div class="review-text-box">
         <div class="header">
            <div><input ng-model="review.title" placeholder="Review Title"/></div>
            <div class="pre-text"><p>Rating:</p></div><div>
                  <select ng-model="review.reviewrating">
                     <option value="1">1</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                  </select>
               </div>
         </div>
         <div>
            <div><textarea rows="4" ng-model="review.reviewtext" placeholder="Write your review here."></textarea></div>
         </div>
      </div>
      <div>
            <button>Submit</button>
      </div>
   </div>
</div>