<div color-change class="hike-card fl-r-b-s box" ng-repeat="hike in hikeData | filter:filter" ui-sref="hikeDetails({hikeName:hike.name})">
   <div class="image-area">
      <img class="fit-cover"ng-src="{{hike.hikephoto}}"/>
   </div>
   <div class="primary-info">
      <h4>{{hike.name}}</h4>
      <p class="mid-caps">&quot{{hike.nickname}}&quot</p>
      <div class="flex-holder">
        <div class="mid-caps diff" difficulty-color>{{hike.diffText}}</div>
        <div class="info-block"><p class="mid-caps">{{hike.mileslong}} mi</p></div>
        <div class="info-block"><p class="mid-caps">{{hike.elevationgain}} ft</p></div>
        <div class="rating"><img ng-src='{{hike.ratingurl}}'/></div>
      </div>
      <div>
         <p class="summary-paragraph">{{hike.summary}}</p>
      </div>
   </div>
</div>