<div class="nav-bar">
   <div class="left-nav">
      <img ui-sref="home" src="./../img/logo.png"/>
   </div>
   <nav class="main-nav">
      <ul>
         <li ui-sref="explore"><h6>Explore</h6></li>
         <li ui-sref="prepare"><h6>Prepare</h6></li>
         <li ng-if="!user"><h6><a href="/auth">Login</a></h6></li>
         <li ng-if="!user"><a href="/auth"><img src="../img/user-icon-100-light.png"></a></li>
         <li ng-if="user" ng-click="logout()"><h6>Logout</h6></li>
         <li ng-if="user" ui-sref="profile"><img ng-src="{{user.userimage}}"></li>
      </ul>
   </nav>
   <ham-dir></ham-dir>
   <mobile-menu></mobile-menu>
</div>
