//==== COLORS ================================================
$menuColorPurple: #1E0E1D;
$hike-stat: #ddd;
$hike-stat-desc: #bbb;
$heroHeight: 1080px;
$layer: 10;

body {
   font-family: 'Gentium Basic', sans-serif;
}

h1 {
   font: 36px/48px 'Crete Round', sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   margin: 10px 0 20px 0;
}

h2 {
   font: 36px/48px 'Open Sans', sans-serif;
   font-weight: 700;
}

h3 {
   font: 32px/38px 'Amatic SC', sans-serif;
   color: ghostwhite;
}

h4 {
   font: 25px/28px 'Crete Round', sans-serif;
}

h5 {
   font: 14px/18px 'Gentium Basic', serif;
   text-transform: uppercase;
   font-weight: 300px;
   letter-spacing: 0.2em;
}

h6 {
   font: 14px/18px 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 300px;
   letter-spacing: 2px;
   color: #eee;
}

p {
   font: 18px/27px 'Gentium Basic', serif;
}

input, textarea {
   line-height: 16px;
   font-size: 14px;
   padding: 5px;
   margin: 5px;
}

a:link, a:visited, a:hover, a:active {
   color: #eee;
   text-decoration: none;
}

//=== BORDERS =========================================
.brdr-dsh-lt {
   border-top: 1px dashed #ffc8bf;
   border-bottom: 1px dashed #ffc8bf;
}  

.brdr-dsh-dk {
   border-top: 1px dashed #226384;
   border-bottom: 1px dashed #226384;
}

//=== ANIMATION =======================================

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
   opacity: 0;
   -webkit-animation: fadeIn 0.5s linear 9s 1 normal forwards;
   -moz-animation: fadeIn 0.5s linear 9s 1 normal forwards;
   animation: fadeIn 0.5s linear 9s 1 normal forwards;
}

.selected {
   margin: 5px;
   padding: 8px; 
   flex: 0 0 30%;
   background-color: #3d1c3b;
   border: 2px solid orange;
   border-radius: 6px;
}

.box{
   margin: 7px 0 15px 0;
   border-radius: 2px;
}

.light-line {
   border: 0;
   width: 95%;
   border-top: 1px solid #a97;
}

.mid-caps{
      font: 18px/24px 'Oswald', sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
}

.billboard {
   position: relative;
   width: 100%;
   height: 650px;
   text-align: center;
   .site-title {
      font-family: sans-serif;
      font-size: 60px;
      color: white;
      .little {
         font-size: 30px;
         vertical-align: middle;
      }
   }
}



.main-container {
   margin: 80px 0 0 0;
   padding: 20px 15% 30px 15%;
   min-height: 100vh;
}

.explore-bg {
   background: url('../img/bg/explore-bg.jpg') no-repeat center center fixed;
}

.learn-bg {
   background: url('../img/bg/learn-bg.jpg') no-repeat center center fixed;
}

.profile-bg {
   background: url('../img/bg/profile-bg.jpg') no-repeat center center fixed;
}

.hike-bg {
   background: url('../img/bg/hike-bg.jpg') no-repeat center center fixed;
}

.static-bg {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.hero {
   height: $heroHeight;
   overflow: hidden;
   position: relative;
}

.main-logo {
   position: fixed;
   text-align: center;
   top: 150px;
   left: 50%;
   z-index: 0;
   margin-left: -175px;
}

.layer {
   background-position: bottom center;
   background-size: auto;
   background-repeat: no-repeat;
	width: 100%;
	height: $heroHeight;
	position: fixed;
	z-index: -1;
}

.hero, .layer {
   min-height: 1080px;
}

.layer-bg {
   background-image: url('./../img/parallax/compressed/parallax1-min.png');
}

.layer-1 {
   background-image: url('./../img/parallax/compressed/parallax2-min.png');
}

.layer-2 {
   background-image: url('./../img/parallax/compressed/parallax3-min.png');
}

.layer-3 {
   background-image: url('./../img/parallax/compressed/parallax4-min.png');
}

.layer-4 {
   background-image: url('./../img/parallax/compressed/parallax5-min.png');
}

.layer-5 {
   background-image: url('./../img/parallax/compressed/parallax6-min.png');
}

.layer-6 {
   background-image: url('./../img/parallax/compressed/parallax7-min.png');
}

.layer-7 {
   background-image: url('./../img/parallax/compressed/parallax8-min.png');
}

.front-content {
   background-color: $menuColorPurple;
   padding-bottom: 50px;
   color: #eee;
   .main-info {
      position: relative;
      width: 75%;
      margin: 0 auto;
      padding: 25px 15px 15px 15px;
      border: 1px dashed #BE453D;
      text-align: center;
      h1 {
         color: #fff;
         .emphasis {
            color: salmon;
         }
      }
      p {
         margin-bottom: 20px;
      }
      .questions {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-around;
         margin: 20px 0;

         .q-box {
            flex: 0 0 auto;
            display: inline-block;
            padding: 20px;
         }
      }
      .rocks {
         position: absolute;
         bottom: 20px;
         left: 35px;
      }
   }
}

.little-box-holder {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   padding: 10px 0;
}

.little-box {
   margin: 5px;
   padding: 8px;
   border: 1px solid #6E202C; 
   flex: 0 0 30%;
}

.button-area {
   margin: 25px 0;
}

.main-button {
	-moz-box-shadow:inset 0px 35px 0px -14px #b54b3a;
	-webkit-box-shadow:inset 0px 35px 0px -14px #b54b3a;
	box-shadow:inset 0px 35px 0px -14px #b54b3a;
	background-color:#a73f2d;
	display:inline-block;
	color:#ffffff;
	font-family: "Crete Round", sans-serif;
	font-size: 18px;
	padding: 10px 50px;
	text-decoration: none;
}
.main-button:hover {
	background-color:#b34332;

}
.main-button:active {
	position:relative;
	top:2px;
}

.login-container {
   margin-top: 20px;
   width: 300px;
   .top {
      background: rgba(255, 255, 255, 0.3);
   }
   .bottom {
      background: rgba(255, 255, 255, 0.5);
   }
}

.submission-field {
   width: 300px;
   height: 100px;
   border: 1px solid darkslategrey;
}

.form-section {
   border-radius: 3px;
   background: rgba(255, 255, 255, 0.5);
   margin: 10px;
   padding: 10px;
   div{
      display: inline-block;
   }
   .pre-text {
      text-align: left;
      width: 90px;
   }
}

.hdr-txt {
   padding-bottom: 15px;
}

.hike-filter {
   padding: 15px;
   background: rgba(255, 255, 255, 0.5);
}

.hike-card {
   position: relative;
   background: rgba(120, 105, 85, 0.9);
   color: #fff;

   .image-area {
      flex: 0 0 auto;
      padding: 15px;
      .fit-cover {
         object-fit: cover;
      }
      img {
         height: 150px;
         border: 1px solid #ccc;
         background-color: #553;
      }
      img[class] {
         width: 150px;
      }
   }

   .primary-info {
      padding: 15px 15px 15px 0;
      flex: 1 1 auto;
      h2{
         padding-bottom: 2px;
      }
      .summary-paragraph {
        margin: 5px 0 0 0;
      }
      .mid-caps{
         flex: 0 0 auto;
         font-size: 14px;
         text-align: left;
         color: #fff;
      }
      .flex-holder{
         display: flex;
         flex-flow: row wrap;
      }
      .diff {
         margin: 10px 10px 0 0;
         border-radius: 3px;
         min-width: 90px;
         text-align: center;
         padding: 3px 5px 2px 5px;
         background-color: #111;
      }
      .rating {
        margin: 10px 0 0 0;
         background-color: #dcb;
         border-radius: 3px;
         flex: 0 0 auto;
         padding: 7px 5px 2px 5px;
      }
      .info-block{
        margin: 10px 10px 0 0;
         border: 1px solid #dcb;
         border-radius: 3px;
         padding: 2px 5px 1px 5px;
      }
   }

   .key-image {
      height: 150px;
   }
}

.fl-r-b-s {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: flex-start;
}

.fl-r-a {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
}

.fl-r-s {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-start;
}

.search-filter{
   display: flex;
   flex-flow: row-nowrap;
   justify-content: center;
   div{
      flex: 0 0 auto;
      p {
         margin-top: 7px;
      }
   }
}



.reviews {
   margin-top: 30px;

   .login-message {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      padding: 15px 0;
      border-radius: 3px;
      background-color: #aaa;
   }
}

.outer-review-box {
   width: 100%;
   .full-width-box {
      padding: 15px 0;
      text-align: center;
   }
}

.review-userimage {
   width: 100px;
   height: 100px;
   background-color: #333;
   border-radius: 50%;

}

.white-box {
   width: calc(100%-30px);
   padding: 10px 30px;
   margin: 10px 0 20px 0;
   background: rgba(255, 255, 255, 0.7);
}

.round-corners {
   border-radius: 3px;
}

.review-image-box {
   flex: 0 0 150px;
   text-align: center;
   font-family: '', sans-serif;
}

.review-text-box {
   flex: 1 1 auto;
   .header {
      padding-bottom: 15px;
      h4{
         float: left;
      }
      p {
         float: right;
      }
   }
}

.text1 {
   font-family: '', sans-serif;
}

.text2 {
   font-family: '', sans-serif;
}

.centered {
   width: 100%;
   text-align: center;
}

.expandable {
   display: none;
   width: 100%;
   .filters {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
   }
   .filter-box{
      margin: 10px;
      padding: 10px;
      flex: 1 1 30%;
      border: 1px dashed #665;
      .select-box {
        margin: 10px auto;
        select {
          width: 100%;
          padding: 7px 12px;
          border-radius: 5px;
          font: 16px/20px 'Gentium Basic', serif;
        }
      }
   }
   .review-image-box{
      flex: 0 0 15%;
      padding: 15px;
   }
   .review-text-box {
      flex: 0 0 auto;
      padding: 15px;
   }
}

.flex-holder {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-start;
}

.full-width-box {
   margin: 10px 0;
   padding: 15px;
   border-radius: 3px;
   background-color: #ddd;
}

.quote-box {
   width: 300px;
   margin-top: 33px;
   margin-bottom: 10px;
   padding: 10px 20px 3px 20px;
   text-align: center;
   .quote {
      font-size: 18px;
      font-family: 'Gentium Basic', serif;
      text-shadow: 0 1px 2px darkred;
      color: ghostwhite;
   }
   .source {
      font-size: 13px;
      text-transform: uppercase;
      color: ghostwhite;
   }
}

.scroll-down {
   text-transform: uppercase;
   font-size: 14px;
}

.text-up {
   text-transform: uppercase;
}

.footer {
   height: 50px;
   text-align: center;
   background-color: $menuColorPurple;
   border-top: 1px solid #444;
   h6 {
      margin-top: 15px;
      color: #bcac9c;
   }
   a:link, a:visited, a:hover, a:active {
   color: #874;
   text-decoration: none;
   }
}

.floating-hike-box {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0, 0.7);
   z-index: 99;
   .success-box, .fail-box{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      z-index: 100;
      text-align: center;
      border: 1px dashed #BE453D;
      color: #eee;
      background-color: $menuColorPurple;
      h1 {
         padding: 30px 0;
      }
      .hike-info{
         width: 250px;
         margin: 0 auto;
         padding: 15px;
         border: 1px solid #6E202C;
         h4 {
            padding-bottom: 7px;
         }
      }
      img {
         width: 200px;
      }
   }
}

.hike-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  color: #FFFFE5;
}

.bigger-text{
   font: 44px/48px 'Crete Round', sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   //margin: 10px 0 10px 0;
}

.light-text {
   color: #eee;
}

.bg-white {
   background: rgba(255, 255, 255, 0.3)
}

.centered-transparent{
   width: 100%;
   margin: 30px auto;
   .quote-box{
      margin: 20px auto;
   }
}

.extra-padding{
   padding: 5px 20px;
}

.profile-content {
  background-color: rgba(2,1,2, 0.5);
  padding: 15px;
  border-radius: 3px;
  .title {
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #333;
  }
  .main-content {
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .profile-image {
      flex: 0 0 30%;
      img {
        width: 100%;
        border-radius: 2px;
      }
    }
    .profile-info-headers {
      flex: 1 1 12%;
      padding: 15px;
      color: #bbb;
    }
    .profile-info {
      flex: 1 1 58%;
      padding: 15px 15px 15px 0;
    }
  }
  .update-button {
    margin: 10px auto;
    text-align: center;
  }
  .full-width-box {
    text-align: center;
    background-color: #777;
    color: #fff;
  }
  .update-fields {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    input {
      width: 80%;
      padding: 5px; 
      background-color: #eee;
      border: none;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    textarea {
      width: 80%;
      min-width: 350px;
      min-height: 96px;
      padding: 5px; 
      background-color: #eee;
      border: none;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    .mid-width {
      flex: 1 1 auto;
    }
  }
}

.soft-light {
  color: #bbb;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
