@import "reset.scss";

$easy-color: #499;
$medium-diff: #994;
$hard-diff: #949;

$hike-stat: #ccc;
$hike-stat-desc: #ccc;

$dark-header: #29232D;

$light-text: #ffe2e9;

$heroHeight: 1080px;
$layer: 10;
$perspective: 1;
$dashedBorderColor: #665;

body {
   font-family: 'Droid Serif', sans-serif;
}

h1 {
   font: 42px/50px 'Amatic SC', sans-serif;
   font-weight: 500;
   margin: 10px 0 20px 0;
}

h2 {
   font: 32px/42px 'Open Sans', sans-serif;
   font-weight: 800;
   text-transform: uppercase;
   letter-spacing: 1px;
}

h3 {
   font: 32px/38px 'Amatic SC', sans-serif;
   color: ghostwhite;
}

h4 {
   font: 22px/28px 'Oswald', sans-serif;
}

h5 {
   font: 14px/18px 'Gentium Basic', serif;
   text-transform: uppercase;
   font-weight: 300px;
   letter-spacing: 0.2em;
}

h6 {
   font: 14px/18px 'Open Sans', sans-serif;
   text-transform: uppercase;
   font-weight: 300px;
   letter-spacing: 0.15em;
   color: #eee;
}

p {
   font: 18px/27px 'Gentium Basic', serif;
}

input, textarea {
   line-height: 16px;
   font-size: 14px;
   padding: 5px;
   margin: 5px;
}

.box{
   margin: 7px 0 15px 0;
   border-radius: 2px;
}

.light-line {
   border: 0;
   width: 95%;
   border-top: 1px solid #a97;
}

.mid-caps{
      font: 18px/24px 'Oswald', sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
}

.billboard {
   position: relative;
   width: 100%;
   height: 650px;
   text-align: center;
   .site-title {
      font-family: sans-serif;
      font-size: 60px;
      color: white;
      .little {
         font-size: 30px;
         vertical-align: middle;
      }
   }
}

.nav-bar {
   position: fixed;
   top: 0px;
   width: 100%;
   height: 80px;
   background-color: #212;
   z-index: 1;

   .left-nav{
      position: absolute;
      left: 30px;
      top: 25px;
      img{
         height: 30px;
      }
   }
}

.main-nav {
   position: absolute;
   right: 30px;
   font-family: 'Patua One', sans-serif;
   ul {
      list-style: none;
      li {
         display: inline-block;
         height: 80px;
         line-height: 81px;
         padding: 0 13px;
         color: white;
         img {
            height: 30px;
            vertical-align: middle;
         }
      }
   }
}

.main-container {
   margin-top: 80px;
   padding: 30px 15%;
   min-height: 100vh;
}

.static-bg {
   background: url('../img/explore-bg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.hero {
   height: $heroHeight;
   overflow: hidden;
   position: relative;
}

.main-logo {
   position: fixed;
   text-align: center;
   top: 14%;
   left: 50%;
   z-index: 0;
   margin-left: -200px;
   h3{
      padding-top: 10px;
   }
}

.layer {
   background-position: bottom center;
   background-size: auto;
   background-repeat: no-repeat;
	width: 100%;
	height: $heroHeight;
	position: fixed;
	z-index: -1;
}

.hero, .layer {
   min-height: 1080px;
}

.layer-bg {
   background-image: url('./../img/parallax1.png');
}

.layer-1 {
   background-image: url('./../img/parallax2.png');
}

.layer-2 {
   background-image: url('./../img/parallax3.png');
}

.layer-3 {
   background-image: url('./../img/parallax4.png');
}

.layer-4 {
   background-image: url('./../img/parallax5.png');
}

.layer-5 {
   background-image: url('./../img/parallax6.png');
}

.layer-6 {
   background-image: url('./../img/parallax7.png');
}

.layer-7 {
   background-image: url('./../img/parallax8.png');
}


.front-content {
   background-color: #1E0E1D;
   height: 1200px;
}

.login-container {
   margin-top: 20px;
   width: 300px;
   .top {
      background: rgba(255, 255, 255, 0.3);
   }
   .bottom {
      background: rgba(255, 255, 255, 0.5);
   }
}

.submission-field {
   width: 300px;
   height: 100px;
   border: 1px solid darkslategrey;
}

.form-section {
   border-radius: 3px;
   background: rgba(255, 255, 255, 0.5);
   margin: 10px;
   padding: 10px;
   div{
      display: inline-block;
   }
   .pre-text {
      text-align: left;
      width: 90px;
   }
}

.hdr-txt {
   padding-bottom: 15px;
}

.hike-filter {
   padding: 15px;
   background: rgba(255, 255, 255, 0.5);
}

.hike-card {
   position: relative;
   background: rgba(120, 105, 85, 0.9);
   color: #fff;

   .image-area {
      flex: 0 0 255;
   }

   .primary-info {
      flex: 1 1 auto;
   }

   .key-image {
      border: 2px dashed #bbb;
      width: 225px;
      height: 150px;
   }
   .pad-15 {
      padding: 15px;
   }
}

.lower-line {
   text-align: center;
   .info-block {
      margin-right: 10px;
      border: 1px solid #776;
      padding: 7px 5px 3px 5px;
   }
   h1 {
      align-content: center;
      color: $hike-stat;
   }
   p{
      padding-top: 2px;
      color: $hike-stat-desc;
   }
   padding-top: 5px;
}

.fl-r-b-s {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: flex-start;
}

.fl-r-a {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
}

.fl-r-s {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-start;
}

.search-filter{
   display: flex;
   flex-flow: row-nowrap;
   justify-content: center;
   div{
      flex: 0 0 auto;
      p {
         margin-top: 7px;
      }
   }
}

.hike-billboard {
   display: flex;
   flex-flow: row nowrap;
   align-items: flex-start;
   width: 100%;
   height: 600px;

   .hike-photo-box {
      flex: 0 0 85%;
      height: 600px;
      background-color: #599;
      .hike-title {
         padding: 10px 0 0 10px;
      }
      .hike-photos {

      }
   }
   .hike-sideinfo {
      flex: 0 0 15%;
      height: 600px;
      background: rgba(0,0,0, 0.5);
      .info-block {
         margin: 10px;
         text-align: center;
         border: 1px solid #776;
         padding: 7px 5px 3px 5px;
         h1 {
            color: $hike-stat;
         }
         p {
            color: $hike-stat-desc;
         }
      }  
   }
}

.hike-lower-info {
   margin-top: 30px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   width: 100%;
   height: 300px;
   border-radius: 3px;
   
   .weather {
      flex: 0 0 300px;
      height: 300px;
      background: #eee;
      font-family: 'Lato', sans-serif;
      text-align: center;
      text-transform: uppercase;
      border-radius: 2px;
      .weather-today {
         height: 150px
      }

      .high-temp {
         color: #755;
      }
      .low-temp {
         color: #557;
      }

      .weather-forecast {
         text-align: center;
         height: 120px;
         .day-name {
            color: #333;
         }
         .forecast-day {
            display: inline-block;
            width: 90px;
         }
      }
   }

   .summary {
      flex: 1 1 auto;
      padding: 5px 0 0 30px;
      height: 300px;
      background: rgba(255, 255, 255, 0.3);
      p {
         padding-top: 10px;
         text-align: justify;
      }
   }
}

.trnspt-grad {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
   background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.outer-review-box {
   width: 100%;
}

.review-userimage {
   width: 100px;
   height: 100px;
   background-color: #333;
   border-radius: 50%;

}

.white-box {
   width: calc(100%-30px);
   padding: 10px 30px;
   margin: 10px 0 20px 0;
   background: rgba(255, 255, 255, 0.7);
}

.round-corners {
   border-radius: 3px;
}

.review-image-box {
   flex: 0 0 150px;
   text-align: center;
   font-family: '', sans-serif;
}

.review-text-box {
   flex: 1 1 auto;
   .header {
      padding-bottom: 15px;
      h4{
         float: left;
      }
      p {
         float: right;
      }
   }
}

.profile-box {
   background: white;
   border-radius: 2px;
   margin: 0 auto;
   width: 80%;
   img{
      width: 150px;
   }
}

.text1 {
   font-family: '', sans-serif;
}

.text2 {
   font-family: '', sans-serif;
}

.centered {
   width: 100%;
   text-align: center;
}

.expandable {
   display: flex;
   width: 100%;
   .filter-box{
      margin: 10px 2%;
      padding: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      height: 130px;
      border: 1px dashed $dashedBorderColor;
      .flex-holder {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         .flex-edge {
            flex: 0 0 auto;
         }
      }
   }
}

// .hike-search-results{
//    height: 600px;
//    overflow-y: auto;
// }

