// Project Variables --------------------------
//---------------------------------------------
//--- Colors ----------------------------------
$menuColorPurple: #1E0E1D;
$subMenuPurple: lighten($menuColorPurple, 20%);
$hike-stat: #ddd;
$hike-stat-desc: #bbb;

//--- Heights and Widths ----------------------
$heroHeight: 1080px;
$layer: 10;